@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #4BA1DE;
    --cor1: #534BDE;
    --cor2: #4B72DE;
    --cor3: #4BCFDE;
    --cor4: #834BDE;
    --cor5: #D1D5E0;
    --cor6: #030128;

    --fonte-padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, main {
    background-color: var(--cor3);
    color: white;
    font-family: var(--fonte-padrao)
}


header {
    background-color: var(--cor1);
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    font-size: 35pt;
}

nav {
    background-color: var(--cor2);
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.21);
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 8px;
    font-weight: bold;
    border-radius: 5px;
}

nav > a:hover {
    background-color: var(--cor0);
}

/* main section {

} */

main h2 {
    padding: 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.450), transparent);
    font-size: 1.5em;
}

main p {
    padding-top: 1vh;
    padding-bottom: 2vh;
    padding-left: 4vh;
    padding-right: 2vh;
    text-align:justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

article {
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
}

section#moti {
    background-color: darkblue;
    padding: auto;
    background-position: center center;
}

section#apre {
    background-color: white;
    padding: auto;
    color: var(--cor6);
}

section#prof {
    background-color: orange;
}

section#dep {
    background-color: lightblue;
}

footer {
    background-color: var(--cor6);
    padding: 8px;
    color: white;
    text-align: center;
    height: 0.8em;
}